﻿@{
    ViewBag.Title = "Index";
}

<h2>Resumen</h2>

<div id="load">

</div> 

<div id="content">
    <div id="map" style="width:600px; height:600px;"></div>
</div>

<table border="1">
    <tr>
        <td>
            
        </td>
    </tr>
</table>


@section scripts{

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />

    <script src="https://maps.google.com/maps/api/js?key=AIzaSyDnlr-fs2Ar-4ywWUWF5r3QeFbTkwsNJWo"></script>
    <script type="text/javascript">

        let getUrl = window.location;
        let baseUrl = getUrl.protocol + "//" + getUrl.host;

        let map;
        let markers = [];

        window.onload = function () {

            $.get(baseUrl + '/home/listartiendas', function (data) {

                let tiendas = [];

                $.each(data, function (idx, obj) {
                    tiendas.push(obj);
                });

                let myOptions = {
                    zoom: 11,
                    center: new google.maps.LatLng(-12.043333, -77.028333),
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true,
                    scaleControl: true,
                    zoomControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.LARGE
                    },
                }

                map = new google.maps.Map(document.getElementById("map"), myOptions);

                for (let i = 0; i < tiendas.length; i++) {

                    let tienda = tiendas[i];

                    console.log(tienda);

                    let company = tienda.Empresa.toLowerCase();
                    let label = tienda.Nombre;
                    let title = tienda.Codigo;
                    let latitud = tienda.Latitud;
                    let longitude = tienda.Longitude;
                    let direccion = tienda.Direccion;
                    let telefono = tienda.Telefono;
                    let jefe = tienda.Jefe;
                    let nroKioskos = tienda.Kioskos;
                    let conectado = tienda.Conectado;
                    let promSesiones = tienda.PromedioSesiones;
                    let promClientes = tienda.PromedioClientes;
                    let promSatisfaccion = tienda.PromedioSatisfaccion;
                    let diasInactividad = tienda.DiasInactividad;

                    let zIndex = (i + 1);

                    let image = '../Images/' + company + (conectado ? '' : '-gray') + '.png';
                    let myLatLng = new google.maps.LatLng(latitud, longitude);

                    let message = '<table border="1"><tr align="center"><td colspan="2"><h4>' + label + '</h4></td></tr>';
                    message += '<tr><td><span><b>Numero de Kioskos : </b>' + nroKioskos + '<br>';
                    message += '<b>Sesiones Promedio por Dia : </b>' + promSesiones + '<br>';
                    message += '<b>Clientes Promedio por Dia : </b>' + promClientes + '<br>';
                    message += '<b>Dias de Inactividad : </b>' + diasInactividad + '</span></td>'
                    message += '<td align="center"><img src="../Images/' + company + '-exp' + promSatisfaccion + '.png"></td></tr> ';
                    message += '<tr><td colspan="2"><span><b>Direccion : </b>' + direccion + '<br>';
                    message += '<b>Telefono : </b>' + telefono + '<br>';
                    message += '<b>Jefe : </b>' + jefe + '</span></td></tr></table>';

                    let locationInfowindow = new google.maps.InfoWindow({
                        content: message,
                    });

                    let marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        icon: image,
                        title: title,
                        zIndex: zIndex,
                        infowindow: locationInfowindow
                    });

                    markers.push(marker);

                    google.maps.event.addListener(marker, 'click', function () {
                        hideAllInfoWindows(map);
                        this.infowindow.open(map, this);
                    });
                }

            });

        }

        function hideAllInfoWindows(map) {
            markers.forEach(function (marker) {
                marker.infowindow.close(map, marker);
            });
        }

    </script>
}
