﻿@{
    ViewBag.Title = "Sesion";
}

<h2>Sesiones</h2>

<div>
    <div id="Sesion">
        <table>
            <tr>
                <td align="left">
                    <span>
                        <label>Fecha Inicio :</label>
                        <input type="text" id="dtpFechaInicio" class="datepicker" readonly style="width: 80px; align-content:center" />
                        &nbsp;
                        <label>Fecha Final :</label>
                        <input type="text" id="dtpFechaFinal" class="datepicker" readonly style="width: 80px; align-content:center" />
                    </span>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td width="700px" rowspan="3">
                    <canvas id="barSesiones"></canvas>
                </td>
                <td width="500px" align="center">
                    <table id="listSesiones"></table>
                    <div id="pagerSesiones" />
                </td>
            </tr>
            <tr>
                <td align="center">
                    <table id="listDetalles"></table>
                    <div id="pagerDetalles" />
                </td>
            </tr>
            <tr>
                <td align="right" valign="bottom">
                    <b id="lastDate">Ultima actualizacion @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</b>
                </td>
            </tr>
        </table>
    </div>
</div>

@section scripts{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-es.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/Chart.bundle.min.js"></script>
    <script src="~/Scripts/Chart.PieceLabel.min.js"></script>
    <script>


        $(".datepicker").datepicker({
            locale: 'es',
            dateFormat: "dd/mm/yy",
            autoclose: true,
            todayHighlight: true,
        });

        let dtpFechaInicio = $("#dtpFechaInicio");

        dtpFechaInicio.datepicker('setDate', new Date(new Date().getFullYear(), new Date().getMonth(), 1));
        dtpFechaInicio.on('change', function () {
            chartUpdater();
            sessionUpdater();
            dateUpdater();
        });

        let dtpFechaFinal = $("#dtpFechaFinal");
        dtpFechaFinal
            .datepicker('setDate', new Date())
            .change(function () {
                chartUpdater();
                sessionUpdater();
                dateUpdater();
            });

        let getUrl = window.location;
        let baseUrl = getUrl.protocol + "//" + getUrl.host;

        let gridSesiones = $("#listSesiones");

        gridSesiones.jqGrid
            ({
                url: '/Sesion/ResumenPorClientes?inicio=' + dtpFechaInicio.val() + '&final=' + dtpFechaFinal.val(),
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Tipo Documento', 'Nro. Documento', 'Sesiones'],
                colModel: [
                    { name: 'TipoDocumento', width: 80, align: 'left' },
                    { name: 'NroDocumento', align: 'left' },
                    { name: 'Cantidad', width: 80, sorttype: 'int', align: 'right' },
                ],
                sortname: "Cantidad",
                sortorder: "desc",
                viewrecords: true,
                hidegrid: false,
                height: '220',
                width: '450',
                caption: 'Top de Sesiones por Clientes',
                pager: '#pagerSesiones',
                rowNum: 10,
                pginput: false,
                jsonReader:
                    {
                        root: 'rows',
                        page: 'page',
                        total: 'total',
                        records: 'records',
                        repeatitems: false
                    },
                onSelectRow: function (rowid, selected) {
                    if (rowid != null && selected == true) {
                        let rowData = gridSesiones.getRowData(rowid); 
                        let numDoc = rowData.NroDocumento;
                        gridDetalles.jqGrid('setGridParam', {
                            url: '/Sesion/SesionesPorCliente?inicio=' + dtpFechaInicio.val() + '&final=' + dtpFechaFinal.val() + '&numdoc=' + numDoc,
                            datatype: 'json',
                            mtype: 'Get',
                            jsonReader:
                            {
                                root: 'rows',
                                page: 'page',
                                total: 'total',
                                records: 'records',
                                repeatitems: false
                            },
                        });
                        gridDetalles.jqGrid('setCaption', 'Sesiones del Cliente : ' + numDoc);
                        gridDetalles.trigger("reloadGrid", [{ current: true, page: 1 }]);
                    }
                },
            });

        gridSesiones.jqGrid('navGrid', '#pagerSesiones', {
            add: false,
            edit: false,
            del: false,
            refresh: true,
            search: false, 
        });

        let gridDetalles = $("#listDetalles");

        gridDetalles.jqGrid
            ({
                datatype: 'local',
                colNames: ['Tienda', 'Fecha', 'Inicio', 'Fin', 'Duracion'],
                colModel: [
                    { name: 'Tienda' },
                    {
                        name: 'Fecha',
                        align: 'center',
                        formatter: 'date',
                        formatoptions: {
                            newformat: 'd/m/Y'
                        },
                    },
                    {
                        name: 'Inicio', align: 'center',
                        formatter: 'date',
                        formatoptions: {
                            newformat: 'H:i:s'
                        }, }, 
                    {
                        name: 'Fin', align: 'center',
                        formatter: 'date',
                        formatoptions: {
                            newformat: 'H:i:s'
                        }, },
                    {
                        name: 'Duracion', align: 'center',
                        formatter: 'date',
                        formatoptions: {
                            newformat: 'H:i:s'
                        }, },
                ],
                sortname: "Fecha",
                sortorder: "desc",
                viewrecords: true,
                hidegrid: false,
                height: '220',
                width: '450',
                caption: 'Sesiones del Cliente',
                pager: '#pagerDetalles',
                rowNum: 10,
                pginput: false,
            });

        gridDetalles.jqGrid('navGrid', '#pagerDetalles', {
            add: false,
            edit: false,
            del: false,
            search: false,
            refresh: true
        });

        let chartBar = null;
        
        $.get(baseUrl + '/Sesion/ResumenPorTiendas?inicio=' + dtpFechaInicio.val() + '&final=' + dtpFechaFinal.val(), function (data) {

            let dataChart = [];
            let colorChart = [];
            let labelChart = [];

            $.each(data, function (idx, obj) {
                dataChart.push(obj.Cantidad);
                labelChart.push(obj.Tienda);
                colorChart.push(getRandomColorHex());
            });

            createChartBar(dataChart, colorChart, labelChart);

            dateUpdater();
            
        });
        
        function createChartBar(dataChart, colorChart, labelChart) {

            let ctx = document.getElementById('barSesiones').getContext('2d');
            ctx.height = 500;

            let config = {
                type: 'horizontalBar',
                data: {
                    datasets: [{
                        data: dataChart,
                        backgroundColor: colorChart,
                        label: 'Sesiones'
                    }],
                    labels: labelChart
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                    },
                    title: {
                        display: true,
                        position: "top",
                        text: "Sesiones por Tienda"
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            chartBar = new Chart(ctx, config);
        }

        function chartUpdater() {

            let inicio = dtpFechaInicio.val();
            let final = dtpFechaFinal.val();

            $.get(baseUrl + '/Sesion/ResumenPorTiendas?inicio=' + inicio + '&final=' + final, function (data) {

                let dataChart = [];

                $.each(data, function (idx, obj) {
                    dataChart.push(obj.Cantidad);
                });

                chartBar.data.datasets[0].data = dataChart;
                chartBar.update();
            });
        }

        function sessionUpdater() {
            let newUrl = '/Sesion/ResumenPorClientes?inicio=' + dtpFechaInicio.val() + '&final=' + dtpFechaFinal.val();
            gridSesiones.jqGrid().setGridParam({ url: newUrl }).trigger('reloadGrid', [{ current: true, page: 1 }]);
            gridDetalles.jqGrid('clearGridData');
        }

        function dateUpdater() {
            let d = new Date();
            let datestring = ("0" + d.getDate()).slice(-2) + "/" + ("0" + (d.getMonth() + 1)).slice(-2) + "/" +
                d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2) + ":" + ("0" + d.getSeconds()).slice(-2);

            $("#lastDate").html('Ultima actualización ' + datestring);
        }

        function getRandomColorHex() {
            var hex = "0123456789ABCDEF",
                color = "#";
            for (var i = 1; i <= 6; i++) {
                color += hex[Math.floor(Math.random() * 16)];
            }
            return color;
        }


    </script>
}
