﻿@{
    ViewBag.Title = "Cliente";
}

<h2>Cliente</h2>

<div id="cliente" style="width:auto; height:600px">
    <table>
        <tr>
            <td width="650px" align="left" valign="middle" colspan="2">
                <div class="form-row">
                    <div class="col-sm-4">
                        <label>Tipo de Documento</label>
                        <select id="tipdoc" class="form-control input-sm">
                            <option value="1">DNI</option>
                            <option value="2">OTRO</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label>Numero de Documento</label>
                        <input type="text" id="nrodoc" class="form-control input-sm">
                    </div>
                    <div class="col-sm-4">
                        <button type="button" id="buscarcliente" class="btn btn-default btn-lg" style="margin-top:5px; margin-bottom:5px">Buscar</button>
                    </div>
                </div>

            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td align="center" valign="middle" colspan="3">
                <span><b>Experiencias del Cliente</b></span>
            </td>
        </tr>
        <tr>
            <td width="650px" align="center" valign="middle">
                <table id="listExperiencias"></table>
            </td>
            <td width="80px" align="center" valign="middle">
                <div id="imgExperiencia">
                    <img src="../Images/metro-exp0.png" id="imgExperienciaMetro" /><b>METRO</b><br />
                    <img src="../Images/wong-exp0.png" id="imgExperienciaWong" /><b>WONG</b>
                </div>
            </td>
            <td width="420px" align="center" valign="middle">
                <canvas id="chartExperiencias"></canvas>
            </td>
        </tr>
        <tr>
            <td align="center" valign="middle" colspan="3">
                <span><b>Sesiones del Cliente</b></span>
            </td>
        </tr>
        <tr>
            <td width="650px" align="center" valign="middle">
                <table id="listSesiones"></table>
            </td>
            <td width="80px" align="center" valign="middle">
                <div id="divPromSesion">
                    <h1 id="promedioSesiones">0</h1>
                    <p>Sesiones Promedio</p>
                </div>
            </td>
            <td width="420px" align="center" valign="middle">
                <canvas id="chartSesiones"></canvas>
            </td>
        </tr>
    </table>
</div>


@section scripts{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-es.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/Chart.bundle.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/locale/es.js"></script>
    <script>

        let getUrl = window.location;
        let baseUrl = getUrl.protocol + "//" + getUrl.host;

        let gridExperiencias = $("#listExperiencias");
        let gridSesiones = $("#listSesiones");

        let chartExperiencias = null;
        let chartSesiones = null;

        window.onload = function () {

            gridExperiencias.jqGrid
                ({
                    datatype: 'local',
                    colNames: ['Cadena', 'Tienda', 'Id', 'Experiencia'],
                    colModel: [
                        { name: 'Cadena' },
                        { name: 'Tienda' },
                        { name: 'ExperienciaId', hidden: true },
                        { name: 'ExperienciaNombre', align: 'center', },
                    ],
                    sortname: "Cadena",
                    sortorder: "desc",
                    hidegrid: false,
                    height: '150',
                    width: '630',
                    caption: 'Experiencias por Tienda',
                    pginput: false
                });

            gridSesiones.jqGrid
                ({
                    datatype: 'local',
                    colNames: ['Cadena', 'Tienda', 'Nro. Sesiones'],
                    colModel: [
                        { name: 'Cadena' },
                        { name: 'Tienda' },
                        { name: 'Cantidad', align: 'right', sorttype: 'int' },
                    ],
                    sortname: "Cadena",
                    sortorder: "desc",
                    viewrecords: true,
                    hidegrid: false,
                    height: '150',
                    width: '630',
                    caption: 'Sesiones por Tienda',
                    pginput: false
                });

            let rangoMeses = [];

            moment().locale('es');
            for (let i = 4; i > 0; i--) {
                let mes = moment().subtract(i, 'months');
                rangoMeses.push(mes.format('MMMM-YYYY'));
            }

            var ctxExperiencias = document.getElementById('chartExperiencias').getContext('2d');

            let configExperiencias = {
                type: 'line',
                data: {
                    xLabels: rangoMeses,
                    yLabels: ['Encantó', 'Gustó', 'Algo', 'No'],
                    datasets: [{
                        label: 'Experiencia Promedio',
                        data: [],
                        fill: true,
                        borderColor: 'rgb(255, 99, 132)',
                        backgroundColor: 'rgb(255, 99, 132)'
                    }]
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false,
                    },
                    title: {
                        display: true,
                        text: 'Tendencias de Experiencias'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Periodo'
                            }
                        }],
                        yAxes: [{
                            type: 'category',
                            position: 'left',
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Experiencia'
                            },
                            ticks: {
                                reverse: true
                            }
                        }]
                    }
                }
            };

            chartExperiencias = new Chart(ctxExperiencias, configExperiencias);

            var barChartData = {
                labels: rangoMeses,
                datasets: []
            };

            var ctxSesiones = document.getElementById('chartSesiones').getContext('2d');

            let configSesiones = {
                type: 'bar',
                data: barChartData,
                options: {
                    title: {
                        display: true,
                        text: 'Tendencias de Sesiones'
                    },
                    legend: {
                        display: false,
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            };

            chartSesiones = new Chart(ctxSesiones, configSesiones);
        };

        $("#buscarcliente").click(function () {

            let tipdoc = $("#tipdoc").val();
            let numdoc = $("#nrodoc").val();

            buscarExperienciasPorCliente(tipdoc, numdoc);
            tendenciaExperienciasPorCliente(tipdoc, numdoc);

            buscarSesionesPorCliente(tipdoc, numdoc);
            tendenciaSesionesPorCliente(tipdoc, numdoc);
        });

        function tendenciaExperienciasPorCliente(tipdoc, numdoc) {

            let url = baseUrl + '/experiencia/tendenciaporcliente?tipDoc=' + tipdoc + '&nroDoc=' + numdoc;

            fetch(url)
                .then(function (response) {
                    return response.json();
                })
                .then(function (myJson) {

                    let periodos = [];
                    let experiencias = [];

                    $.each(myJson, function (idx, obj) {
                        let anho = obj.Anho;
                        let mes = obj.MesNombre;
                        let periodo = mes + '-' + anho;
                        periodos.push(periodo);

                        let experiencia = obj.ExperienciaNombre;
                        experiencias.push(experiencia);
                    });

                    chartExperiencias.data.xLabels = periodos;
                    chartExperiencias.data.datasets[0].data = experiencias;
                    chartExperiencias.update();
                })
                .catch(function (error) {
                    console.log('Hubo un problema con la petición Fetch:' + error.message);
                });;
        }

        function buscarExperienciasPorCliente(tipdoc, numdoc) {

            let imgExpWong = $("#imgExperienciaWong");
            let imgExpMetro = $("#imgExperienciaMetro");

            gridExperiencias.jqGrid("clearGridData", false).trigger("reloadGrid");
            imgExpWong.attr("src", "../Images/wong-exp0.png");
            imgExpMetro.attr("src", "../Images/metro-exp0.png");

            let url = baseUrl + '/experiencia/resumenporcliente?tipDoc=' + tipdoc + '&nroDoc=' + numdoc;

            fetch(url)
                .then(function (response) {
                    return response.json();
                })
                .then(function (myJson) {

                    gridExperiencias
                        .jqGrid('setGridParam', {
                            datatype: 'local',
                            data: myJson //json object
                        });

                    gridExperiencias.trigger("reloadGrid");

                    let sumwong = 0;
                    let cntwong = 0;
                    let summetro = 0;
                    let cntmetro = 0;
                    for (let i = 0; i < myJson.length; i++) {
                        let cadena = myJson[i]['Cadena'];
                        let experiencia = myJson[i]['ExperienciaId'];
                        if (cadena.toUpperCase() == 'WONG') {
                            cntwong += 1;
                            sumwong += experiencia;
                        }
                        else if (cadena.toUpperCase() == 'METRO') {
                            cntmetro += 1;
                            summetro += experiencia;
                        }
                    }

                    let avgwong = 0;
                    let avgmetro = 0;
                    if (cntwong > 0) {
                        avgwong = parseInt(sumwong / cntwong);
                        imgExpWong.attr("src", "../Images/wong-exp" + avgwong + ".png");
                    }

                    if (cntmetro > 0) {
                        avgmetro = parseInt(summetro / cntmetro);
                        imgExpMetro.attr("src", "../Images/metro-exp" + avgmetro + ".png");
                    }

                })
                .catch(function (error) {
                    console.log('Hubo un problema con la petición Fetch:' + error.message);
                });;
        }

        function tendenciaSesionesPorCliente(tipdoc, numdoc) {

            let url = baseUrl + '/sesion/tendenciaporcliente?tipDoc=' + tipdoc + '&nroDoc=' + numdoc;

            fetch(url)
                .then(function (response) {
                    return response.json();
                })
                .then(function (myJson) {

                    let periodosArray = $.map(myJson, function (obj, idx) {
                        return obj.MesNombre + '-' + obj.Anho;
                    });

                    let tiendasArray = $.map(myJson, function (obj, idx) {
                        return obj.Tienda !== '' ? obj.Tienda : null;
                    });

                    let periodos = $.unique(periodosArray);
                    let tiendas = $.unique(tiendasArray);

                    let colors = [];
                    $.each(tiendas, function (index, value) {
                        let color = getRandomColorHex();
                        colors.push(color);
                    });


                    let datasets = [];

                    for (let i = 0; i < tiendas.length; i++) {
                        let label = tiendas[i];
                        let color = colors[i]
                        let data = []

                        let sesionesPeriodo = $.map(myJson, function (obj, idx) {
                            return obj.Tienda === tiendas[i] ? obj : null;
                        });

                        for (var j = 0; j < periodos.length; j++) {

                            let sesionesTienda = $.map(sesionesPeriodo, function (obj, idx) {
                                return (obj.MesNombre + '-' + obj.Anho) === periodos[j] ? obj : null;
                            });

                            if (sesionesTienda.length == 1) {
                                data.push(sesionesTienda[0].Cantidad);
                            }
                            else {
                                data.push("");
                            }
                        }

                        let dataset = {
                            label: label,
                            backgroundColor: color,
                            data: data
                        };
                        datasets.push(dataset);
                    }
                    console.log(datasets);
                    chartSesiones.data.labels = periodos;
                    chartSesiones.data.datasets = datasets;
                    chartSesiones.update();

                })
                .catch(function (error) {
                    console.log('Hubo un problema con la petición Fetch:' + error.message);
                });;
        }

        function buscarSesionesPorCliente(tipdoc, numdoc) {

            let promedioSesiones = $("#promedioSesiones");

            gridSesiones.jqGrid("clearGridData", false).trigger("reloadGrid");
            promedioSesiones.text(0);

            let url = baseUrl + '/sesion/resumenporcliente?tipDoc=' + tipdoc + '&nroDoc=' + numdoc;

            fetch(url)
                .then(function (response) {
                    return response.json();
                })
                .then(function (myJson) {

                    gridSesiones
                        .jqGrid('setGridParam', {
                            datatype: 'local',
                            data: myJson //json object
                        });

                    gridSesiones.trigger("reloadGrid");

                    let promedio = parseInt(gridSesiones.jqGrid('getCol', 'Cantidad', false, 'avg'));
                    promedioSesiones.text(promedio);
                })
                .catch(function (error) {
                    console.log('Hubo un problema con la petición Fetch:' + error.message);
                });;
        }

        function getRandomColorHex() {
            var hex = "0123456789ABCDEF",
                color = "#";
            for (var i = 1; i <= 6; i++) {
                color += hex[Math.floor(Math.random() * 16)];
            }
            return color;
        }


    </script>
}
