﻿@{
    ViewBag.Title = "Kiosko";
}

<h2>Monitoreo de Kioskos</h2>

<div id="Monitoreo" style="width:auto; height:600px">
    <table style="border:1px solid black;">
        <tr>
            <td width="900px" rowspan="2">
                <table id="listMonitor"></table>
                <div id="pager" />
            </td>
            <td>
                <canvas id="chartMonitor" width="300" height="300"></canvas>
            </td>
        </tr>
        <tr>
            <td align="right" valign="bottom"><b id="lastDate">Ultima actualizacion 07/07/2018 12:09:11</b></td>
        </tr>
    </table>
</div>

@section scripts{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />

    <style type="text/css">
        span.cellWithoutBackground {
            display: block;
            background-image: none;
            margin-right: -2px;
            margin-left: -2px;
            height: 21px;
            padding: 4px;
        }
        a.gridbutton {
            display: block;
            background-image: none;
            margin-right: -2px;
            margin-left: -2px;
            height: 21px;
            padding: 4px;
            color: white;
            background-color: gray;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            text-decoration: none;
        }
    </style>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-es.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>

    <script>

        let getUrl = window.location;
        let baseUrl = getUrl.protocol + "//" + getUrl.host;

        let chart = null;

        $.get(baseUrl + '/kiosko/resumen', function (data) {

            let fechaHora = data.fechahora;
            $("#lastDate").html('Ultima actualización ' + fechaHora);

            let grafico = data.grafico;
            let dataChart = [];
            let labelChart = [];

            $.each(grafico, function (idx, obj) {
                dataChart.push(obj.Total);
                labelChart.push(obj.Conexion);
            });

            let ctx = document.getElementById('chartMonitor').getContext('2d');

            let config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: dataChart,
                        backgroundColor: [
                            'rgb(255,0,0)',
                            'rgb(0,128,0)'
                        ],
                        label: 'Dataset 1'
                    }],
                    labels: labelChart
                },
                options: {
                    responsive: true,
                    legend: {
                        display: true,
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Conectados'
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                }
            };

            chart = new Chart(ctx, config);
        });

        let grid = $("#listMonitor");

        grid.jqGrid
            ({
                url: '/Kiosko/Monitoreo',
                datatype: 'json',
                mtype: 'Get',
                colNames: ['Id', 'Compañia', 'Tienda', 'Hostname', 'Ip', 'Conexion', 'Version', 'Sesion', 'Impreso', 'Restante', 'Operacion'],
                colModel: [
                    { name: 'Id', hidden: true },
                    { name: 'Empresa' },
                    { name: 'Tienda', width: 100 },
                    { name: 'Hostname', width: 300 },
                    { name: 'Ip', hidden: true },
                    {
                        name: 'Conexion',
                        align: 'center',
                        formatter: function (cellvalue) {
                            let color;
                            if (cellvalue === 'NO') {
                                color = 'red';
                            } else {
                                color = 'green';
                            }
                            return "<span class='cellWithoutBackground' style='color:white; background-color:" + color + ";'>" + cellvalue + "</span>";
                        }
                    },
                    { name: 'Version', align: 'center' },
                    { name: 'Sesion', align: 'center' },
                    { name: 'Impreso', align: 'right', sorttype: 'int' },
                    { name: 'Restante', align: 'right', sorttype: 'int' },
                    {
                        name: 'Operacion',
                        width: 120,
                        sortable: false,
                        align: "center",
                    },
                ],
                sortname: "Empresa",
                sortorder: "asc",
                viewrecords: true,
                hidegrid: false,
                height: '100%',
                caption: 'Monitoreo',
                pager: '#pager',
                rowNum: 25,
                pginput: false,
                jsonReader:
                    {
                        root: 'rows',
                        page: 'page',
                        total: 'total',
                        records: 'records',
                        repeatitems: false
                    },
                autowidth: true,
                afterInsertRow: function (id, currentData, jsondata) {
                    var button = "<a class='gridbutton' data-hostname='" + currentData.Hostname + "' href='#'>Reiniciar</a>";
                    $(this).setCell(id, 'Operacion', button);
                },
                loadComplete: function (data) {
                    $(".gridbutton").on('click', function (e) {
                        e.preventDefault();
                        alert('Hostname: ' + $(this).data("hostname"));
                    });
                },
            });

        grid.jqGrid('navGrid', '#pager', {
            add: false,
            edit: false,
            del: false,
            search: false,
            refresh: true,
            beforeRefresh: function () {
                chartUpdater();
            }
        });

        setInterval(function () {
            chartUpdater();
            gridUpdater();
        }, 60000);

        function gridUpdater() {
            grid.trigger("reloadGrid");
        }

        function chartUpdater() {
            $.get(baseUrl + '/kiosko/resumen', function (data) {
 
                let fechaHora = data.fechahora;
                $("#lastDate").html('Ultima actualización ' + fechaHora);

                let grafico = data.grafico;
                let dataChart = [];
                let labelChart = [];

                $.each(grafico, function (idx, obj) {
                    dataChart.push(obj.Total);
                    labelChart.push(obj.Conexion);
                });

                chart.data.datasets[0].data = dataChart;
                
                chart.update();
            });
        }
        

    </script>
}
