﻿@{
    ViewBag.Title = "Experiencia";
}

<h2>Satisfacci&#243;n</h2>

<div id="Experiencia" style="width:auto; height:600px">
    <table>
        <tr>
            <td align="center">

                    <label>Compa&ntilde;ia :</label>
                    <select id="cboEmpresa" style="width: 100px">
                        <option value="Todos">Todos</option>
                    </select>
                    &nbsp;
                    <label>Tienda :</label>
                    <select id="cboTienda" style="width: 100px">
                        <option value="Todos">Todos</option>
                    </select>

            </td>
            <td align="right">
                <label>Fecha Inicio :</label>
                <input type="text" id="dtpFechaInicio" class="datepicker" readonly style="width: 80px; align-content:center" />
                &nbsp;
                <label>Fecha Final :</label>
                <input type="text" id="dtpFechaFinal" class="datepicker" readonly style="width: 80px; align-content:center" />
            </td>
        </tr>
        <tr>
            <td width="400px">
                <canvas id="pieExperiencia" width="300" height="300"></canvas>
            </td>
            <td width="900px" rowspan="2">
                <canvas id="barExperiencia" style="display: block;"></canvas>
            </td>
        </tr>
        <tr>
            <td align="center">
                <table id="listExperiencia"></table>
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="right" valign="bottom">
                <b id="lastDate">Ultima actualizacion @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</b>
            </td>
        </tr>
    </table>
</div>


@section scripts{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-es.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/Chart.bundle.min.js"></script>
    <script src="~/Scripts/Chart.PieceLabel.min.js"></script>
    <script>


        $(".datepicker").datepicker({
            dateFormat: "dd/mm/yy",
            autoclose: true,
            todayHighlight: true
        });

        let dtpFechaInicio = $("#dtpFechaInicio");
        let dtpFechaFinal = $("#dtpFechaFinal");

        $("#dtpFechaInicio,#dtpFechaFinal")
            .datepicker('setDate', new Date())
            .change(function () {
                chartUpdater();
                dateUpdater();
            });

        let getUrl = window.location;
        let baseUrl = getUrl.protocol + "//" + getUrl.host;

        let chartPie = null;
        let chartBar = null;

        let grid = $("#listExperiencia");

        grid.jqGrid
        ({
            datatype: 'local',
            colNames: ['Id', 'Experiencia', 'Cantidad', 'Porcentaje'],
            colModel: [
                { name: 'Id', hidden: true },
                {
                    name: 'Nombre', 
                    align: 'left'
                },
                {
                    name: 'Cantidad',
                    width: 100,
                    align: 'right', 
                    formatter: "integer",
                    formatoptions: { thousandsSeparator: ','}
                },
                {
                    name: 'Porcentaje',
                    width: 100,
                    align: 'right',
                    formatter: "currency",
                    formatoptions: { decimalSeparator: ".", suffix: " %" }
                },
            ],
            sortable: false,
            hidegrid: false,
            width: '350',
            height: '100%',
            caption: 'Resumen',
            footerrow: true,
        });

        grid.jqGrid('footerData', 'set', {
            Cantidad: 0,
            Porcentaje: 0.00
        });

        $.get(baseUrl + '/experiencia/resumen?inicio=' + dtpFechaInicio.val() + '&final=' + dtpFechaFinal.val(), function (data) {

            let dataChart = [];
            let colorChart = [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
            ];
            let labelChart = [];

            $.each(data, function (idx, obj) {
                dataChart.push(obj.Cantidad);
                labelChart.push(obj.Nombre);
            });

            createChartPie(dataChart, colorChart, labelChart);
            createChartBar(dataChart, colorChart, labelChart);

            dateUpdater();

            for (var i = 0; i <= data.length; i++) {
                grid.jqGrid('addRowData', i + 1, data[i]);
            }
            grid.jqGrid('footerData', 'set', {
                Cantidad: parseInt(grid.jqGrid('getCol', 'Cantidad', false, 'sum')),
                Porcentaje: parseFloat('100').toFixed(2)
            });
        });

        let cboEmpresa = $('#cboEmpresa');
        let cboTienda = $('#cboTienda');

        $.get(baseUrl + '/experiencia/Empresas', function (data) {
            cboEmpresa.empty();
            $.each(data, function (key, value) {
                cboEmpresa.append('<option value="' + value.Codigo + '">' + value.Nombre + '</option>');
            });
            cboEmpresa.prop('selectedIndex', 0);
        });

        cboEmpresa.on('change', function () {
            let empresa = $(this).val();
            $.get(baseUrl + '/experiencia/Tiendas?empresa=' + empresa, function (data) {
                cboTienda.empty();
                $.each(data, function (key, value) {
                    cboTienda.append('<option value="' + value.Codigo + '">' + value.Nombre + '</option>');
                });
                cboTienda.prop('selectedIndex', 0);
            }).done(function () {
                chartUpdater();
                dateUpdater();
            });
        });

        cboTienda.on('change', function () {
            chartUpdater();
            dateUpdater();
        });

        function createChartPie(dataChart, colorChart, labelChart) {
            let ctx = document.getElementById('pieExperiencia').getContext('2d');

            let config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: dataChart,
                        backgroundColor: colorChart,
                        label: 'Satisfaccion'
                    }],
                    labels: labelChart
                },
                options: {
                    responsive: true,
                    tooltips: {
                        enabled: true
                    },
                    legend: {
                        display: true,
                        position: 'left',
                        padding: 0
                    },
                    title: {
                        display: false,
                    },
                    maintainAspectRatio: false,
                    pieceLabel: {
                        render: 'percentage',
                        precision: 2,
                    }
                }
            };

            chartPie = new Chart(ctx, config);
        }

        function createChartBar(dataChart, colorChart, labelChart) {
            let ctx = document.getElementById('barExperiencia').getContext('2d');

            let config = {
                type: 'horizontalBar',
                data: {
                    datasets: [{
                        data: dataChart,
                        backgroundColor: colorChart,
                        label: 'Satisfaccion'
                    }],
                    labels: labelChart
                },
                options: {
                    responsive: true,
                    legend: {
                        display: false,
                    },
                    title: {
                        display: false,
                    },
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            };

            chartBar = new Chart(ctx, config);
        }

        function chartUpdater() {

            let inicio = dtpFechaInicio.val();
            let final = dtpFechaFinal.val();

            let empresa = '';
            let tienda = '';

            if (cboEmpresa.prop('selectedIndex') > 0) {
                empresa = cboEmpresa.val();
                if (cboTienda.prop('selectedIndex') > 0) {
                    tienda = cboTienda.val();
                }
                else {
                    tienda = '';
                }
            }
            else {
                empresa = '';
                tienda = '';
            }

            $.get(baseUrl + '/experiencia/resumen?inicio=' + inicio + '&final=' + final + '&empresa=' + empresa + '&tienda=' + tienda, function (data) {

                let dataChart = [];

                $.each(data, function (idx, obj) {
                    dataChart.push(obj.Cantidad);
                });

                chartPie.data.datasets[0].data = dataChart;
                chartPie.update();

                chartBar.data.datasets[0].data = dataChart;
                chartBar.update();

                grid.jqGrid("clearGridData", false).trigger("reloadGrid");

                for (var i = 0; i <= data.length; i++) {
                    grid.jqGrid('addRowData', i + 1, data[i]);
                }

                grid.jqGrid('footerData', 'set', {
                    Cantidad: parseInt(grid.jqGrid('getCol', 'Cantidad', false, 'sum')),
                    Porcentaje: parseFloat('100').toFixed(2)
                });
            });
        }

        function dateUpdater() {
            let d = new Date();
            let datestring = ("0" + d.getDate()).slice(-2) + "/" + ("0" + (d.getMonth() + 1)).slice(-2) + "/" +
                d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2) + ":" + ("0" + d.getSeconds()).slice(-2);

            $("#lastDate").html('Ultima actualización ' + datestring);
        }

    </script>
}
